version: '3.3'

services:
  proxy:
    container_name: traefik_proxy
    image: traefik:v2.0.0-rc3
    command:
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.le.acme.tlschallenge=true"
      - "--certificatesresolvers.le.acme.email=${LE_EMAIL}"
      - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json"
    labels:
      - "traefik.http.routers.redirs.rule=hostregexp(`{host:.+}`)"
      - "traefik.http.routers.redirs.entrypoints=web"
      - "traefik.http.routers.redirs.middlewares=redirect-to-https"
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - "/root/letsencrypt:/letsencrypt"
      - /var/run/docker.sock:/var/run/docker.sock

  watchtower:
    container_name: watchtower
    image: v2tec/watchtower
    labels:
      - traefik.enable=false
      - label-enable=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  hugo-site:
    container_name: hugo-site
    image: noelmiller/publish-hugo-website
    labels:
      - "traefik.http.routers.hugo-site.rule=Host(`redesign.noel.fyi`)"
      - "traefik.http.routers.hugo-site.tls=true"
      - "traefik.http.routers.hugo-site.tls.certresolver=le"
    restart: always